<h1>Weight Measurements</h1>

<p><%= link_to 'New Weight measurement', new_weight_measurement_path, id: 'new_link', remote: true %></p>

<ul id="newest_measurements">
  <%= render(@weight_measurements) %>
</ul>


<div id="g"></div>
